<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.stage.mapper.StageMapper">

    <select id="queryStageByWorkOrderId" resultType="org.jeecg.modules.management.stage.vo.MobileStageDTO">
        SELECT
            progress.id AS "id",
            progress.finish_time AS "finishTime",
            stage.stage_number AS "number",
            stage.stage_name AS "name",
            stage.check_in AS "checkIn",
            stage.check_out AS "checkOut",
            stage.take_picture AS "takePicture",
            stage.cost_template AS "costTemplate",
            stage.archive AS "archive",
            stage.state_information AS "stateInformation",
            stage.trigger_message AS "triggerMessage",
            stage.trigger_receivable AS "triggerReceivable",
            stage.attachment AS "attachment",
            stage.job_description AS "jobDescription",
            stage.need_description AS "needDescription",
            report.description AS "description" ,
            report.id AS "reportId",
            detail.id AS "detailId"
        FROM
            ic_work_order_progress progress
            LEFT JOIN ic_work_order wo ON wo.id = progress.work_order_id
            LEFT JOIN ic_work_order_detail detail ON detail.work_order_id = wo.id
            LEFT JOIN tb_stage stage ON stage.id = progress.stage_id
            LEFT JOIN ic_progress_report report ON report.progress_id = progress.id
        WHERE
            1=1
            <if test="workOrderId != null and workOrderId != ''">
                AND progress.work_order_id = #{workOrderId}
            </if>
        ORDER BY stage.order_index
    </select>
</mapper>