<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.progressreport.mapper.ProgressReportMapper">

    <select id="getByReportId" resultType="org.jeecg.modules.management.progressreport.vo.MobileReportDTO">
        SELECT
            report.description as "description",
            report.is_need_to_replace as "isNeedToReplace",
            report.is_completed as "isCompleted",
            report.fault_location as "faultLocation",
            GROUP_CONCAT(t.time) as "time",
            detail.appointment as "appointment"
        FROM
            ic_progress_report report
            LEFT JOIN (
            SELECT
            DISTINCT
                s1.report_id,
                s1.time
            FROM
                ic_sign_in s1
                INNER JOIN ( SELECT MAX( create_time ) AS 'create_time' FROM ic_sign_in WHERE progress_id = #{progressId} GROUP BY type ORDER BY type ) s2 ON s1.create_time = s2.create_time
            ) t ON t.report_id = report.id
            LEFT JOIN ic_work_order_detail detail ON detail.id = report.work_order_detail_id
        WHERE
            report.id = #{reportId}
    </select>

    <select id="getByWorkOrderId" resultType="org.jeecg.modules.management.workorder.vo.MobileWorkOrderDetailDTO">
        SELECT
            detail.id AS "detailId",
            detail.fault_location AS "faultLocation",
            detail.appointment AS "appointment",
            device.`name` AS "deviceName",
            creater.realname AS "createrName",
            creater.enterprise_id AS "enterpriseId",
            progress.`name` AS "currentProgress",
            progress.id AS "progressId",
            report.is_completed AS "isCompleted",
            report.id AS "reportId"
        FROM
            `ic_progress_report` report
            LEFT JOIN ic_work_order_detail detail ON detail.id = report.work_order_detail_id
            LEFT JOIN tb_device_number device ON device.id = detail.device_number
            LEFT JOIN sys_user creater ON creater.username = report.create_by
            LEFT JOIN ic_work_order workOrder ON workOrder.id = report.work_order_id
            LEFT JOIN ic_work_order_progress progress ON progress.id = report.progress_id
            LEFT JOIN tb_stage stage ON stage.id = progress.stage_id
        WHERE
            workOrder.id = #{workOrderId}
        ORDER BY
            stage.order_index
    </select>
</mapper>