<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.file.mapper.FileMapper">

    <select id="getByReportId" resultType="org.jeecg.modules.management.file.entity.File">
        SELECT
          *
        FROM
          ic_file
        WHERE
          1=1
        <if test="reportId != null and reportId != ''">
            AND progress_report_id = #{reportId}
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

</mapper>