<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.workorder.mapper.WorkOrderMapper">

    <select id="queryListByType" resultType="org.jeecg.modules.management.workorder.vo.WorkOrderDTO">
        SELECT
        workOrder.id AS "id",
        workOrder.type AS "type",
        workOrder.declaration_time AS "declarationTime",
        workOrder.emergency_level AS "emergencyLevel",
        client.NAME AS "clientName",
        client.province AS "province",
        client.city AS "city",
        client.area AS "area",
        client.community AS "community",
        client.address AS "address",
        client.longitude AS "longitude",
        client.latitude AS "latitude",
        detail.id AS "detailId"
        FROM
        ic_work_order_detail detail
        LEFT JOIN ic_work_order workOrder ON workOrder.id = detail.work_order_id
        LEFT JOIN tb_client client ON client.id = workOrder.client_id
        WHERE
        workOrder.status = '1'
        <if test="type != null and type != ''">
            AND workOrder.type = #{type}
        </if>
    </select>

    <select id="queryMobileList" resultType="org.jeecg.modules.management.workorder.vo.MobileWorkOrderDTO">
        SELECT
            client.`name` AS "clientName",
            contact.`name` AS "contactName",
            contact.mobile_phone AS "contactPhone",
            client.province AS "province",
            client.city AS "city",
            client.area AS "area",
            client.community AS "community",
            client.address AS "address",
            workOrder.`status` AS "status",
            workOrder.type AS "type",
            detail.assigned_time AS "assignedTime",
            workOrder.id AS "id",
            workOrder.number AS "number"
        FROM
            ic_work_order_detail detail
            LEFT JOIN ic_work_order workOrder ON workOrder.id = detail.work_order_id
            LEFT JOIN tb_client client ON client.id = workOrder.client_id
            LEFT JOIN tb_contact contact ON contact.client_id = client.id
    </select>

</mapper>