<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.workorder.mapper.WorkOrderMapper">

    <select id="queryListByType" resultType="org.jeecg.modules.management.workorder.vo.WorkOrderDTO">
        SELECT
        workOrder.id AS "id",
        workOrder.type AS "type",
        workOrder.number AS "number",
        workOrder.declaration_time AS "declarationTime",
        workOrder.emergency_level AS "emergencyLevel",
        client.NAME AS "clientName",
        client.province AS "province",
        client.city AS "city",
        client.area AS "area",
        client.community AS "community",
        client.address AS "address",
        client.longitude AS "longitude",
        client.latitude AS "latitude",
        detail.id AS "detailId"
        FROM
        ic_work_order_detail detail
        LEFT JOIN ic_work_order workOrder ON workOrder.id = detail.work_order_id
        LEFT JOIN tb_client client ON client.id = workOrder.client_id
        WHERE
        workOrder.status = '1'
        AND detail.service_engineer_name IS NULL
        AND workOrder.need_dispatch = '1'
        <if test="type != null and type != ''">
            AND workOrder.type = #{type}
        </if>
    </select>

    <select id="queryMobileList" resultType="org.jeecg.modules.management.workorder.vo.MobileWorkOrderDTO">
        SELECT
            client.`name` AS "clientName",
            client.province AS "province",
            client.city AS "city",
            client.area AS "area",
            client.community AS "community",
            client.address AS "address",
            client.longitude AS "longitude",
            client.latitude AS "latitude",
            contact.`name` AS "contactName",
            contact.mobile_phone AS "contactPhone",
            contact.email AS "email",
            workOrder.`status` AS "status",
            workOrder.type AS "type",
            workOrder.id AS "id",
            workOrder.number AS "number",
            detail.assigned_time AS "assignedTime",
            detail.description AS "description",
            device.`name` AS "deviceName",
            device.signing AS "signing"
        FROM
            `ic_work_order` workOrder
            LEFT JOIN tb_client client ON client.id = workOrder.client_id
            LEFT JOIN tb_contact contact ON contact.id = workOrder.contact_id
            LEFT JOIN ic_work_order_detail detail ON workOrder.id = detail.work_order_id
            LEFT JOIN tb_device_number device ON device.id = detail.device_number
        WHERE
            1=1
            <if test="userName != null and userName !=''">
                AND detail.service_engineer_name = #{userName}
            </if>
            <if test="status != null and status != ''">
                AND workOrder.status = #{status}
            </if>
        ORDER BY workOrder.declaration_time DESC
    </select>

    <select id="queryWXworkOrderList" resultType="org.jeecg.modules.management.workorder.vo.MobileWorkOrderDTO">
        SELECT
            client.`name` AS "clientName",
            contact.`name` AS "contactName",
            contact.mobile_phone AS "contactPhone",
            contact.email AS "email",
            client.province AS "province",
            client.city AS "city",
            client.area AS "area",
            client.community AS "community",
            client.address AS "address",
            workOrder.`status` AS "status",
            workOrder.type AS "type",
            detail.assigned_time AS "assignedTime",
            workOrder.id AS "id",
            workOrder.number AS "number"
        FROM
            `ic_work_order` workOrder
            LEFT JOIN tb_client client ON client.id = workOrder.client_id
            LEFT JOIN tb_contact contact ON contact.client_id = client.id
            LEFT JOIN ic_work_order_detail detail ON workOrder.id = detail.work_order_id
            LEFT JOIN tb_wx_user wxUser ON wxUser.client_id = client.id
            WHERE
                wxUser.open_id = #{openId}
                <if test="status != null and status != ''">
                    AND workOrder.`status` IN ${status}
                </if>
            ORDER BY workOrder.declaration_time DESC
    </select>

    <select id="queryWorkOrderByComment" resultType="org.jeecg.modules.management.workorder.entity.WorkOrder" parameterType="String">
        SELECT
            workOrder.*
        FROM
            ic_work_order workOrder
        WHERE
            1=1
        <if test="clientId != null and clientId != ''">
            AND workOrder.client_id = #{clientId}
        </if>
        <if test="status != null and status != ''">
            AND workOrder.`status` = #{status}
        </if>
            AND ( SELECT COUNT(*) FROM ic_service_commentery WHERE work_order_id = workOrder.id ) = 0
    </select>

    <select id="queryTimeoutWorkOrder" resultType="org.jeecg.modules.management.workorder.entity.WorkOrder">
        SELECT
            workOrder.*
        FROM
            ic_work_order workOrder
            LEFT JOIN ic_work_order_detail detail ON detail.work_order_id = workOrder.id
        WHERE
            1 = 1
            AND detail.planned_completion_time &lt; CURRENT_DATE ()
            AND detail.actual_completion_time IS NULL
    </select>

</mapper>