<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.management.workorder.mapper.WorkOrderDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  ic_work_order_detail 
		WHERE
			 work_order_id = #{mainId} 
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.management.workorder.entity.WorkOrderDetail">
		SELECT * 
		FROM  ic_work_order_detail
		WHERE
			 work_order_id = #{mainId} 
	</select>

	<select id="getByWorkOrderId" resultType="org.jeecg.modules.management.workorder.vo.MobileWorkOrderDetailDTO">
		SELECT
			detail.id AS "detailId",
			detail.fault_location AS "faultLocation",
			detail.appointment AS "appointment",
			device.`name` AS "deviceName",
			user.realname AS "enginerName",
			user.enterprise_id AS "enterpriseId",
			progress.`name` AS "currentProgress",
			progress.id AS "progressId",
			report.is_completed AS "isCompleted",
			(SELECT id FROM ic_progress_report WHERE work_order_detail_id = detail.id and progress_id = progress.id) AS "reportId"
		FROM
			ic_work_order_detail detail
			LEFT JOIN tb_device_number device ON device.id = detail.device_number
			LEFT JOIN sys_user user ON user.username = detail.service_engineer_name
			LEFT JOIN ic_work_order workOrder ON workOrder.id = detail.work_order_id
			LEFT JOIN ic_work_order_progress progress ON progress.id = detail.current_progress
			LEFT JOIN ic_progress_report report ON report.work_order_detail_id = detail.id AND report.progress_id = detail.current_progress
			WHERE
			workOrder.id = #{workOrderId}
	</select>

	<update id="updateCurrentProgressByWorkOrderId">
		UPDATE ic_work_order_detail SET current_progress = #{currentProgress} WHERE work_order_id = #{workOrderId}
	</update>
</mapper>
